<?xml version="1.0" encoding="UTF-8"?>
<!-- slf4j日志配置文件 -->
<configuration debug="true" scan="false" scanPeriod="30 seconds">
    <!-- 设置日志输出根目录 -->
    <springProfile name="dev">
        <property name="log.dir" value="/Users/study/logging/query_status"/>
    </springProfile>
    <springProfile name="qa">
        <property name="log.dir" value="/home/study/logs/query_status"/>
    </springProfile>
    <springProfile name="prod">
        <property name="log.dir" value="/home/study/logs/query_status"/>
    </springProfile>
    <springProfile name="pre">
        <property name="log.dir" value="/home/study/logs/query_status"/>
    </springProfile>
    
    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{10}.%M:%L  %msg%n"/>
    <property name="plain-pattern" value="%d{yyyy-MM-dd HH:mm:ss} %msg%n"/>
    <property name="std-pattern" value="%d{HH:mm:ss.SSS}[%thread][%-5level] %msg %c:%L%n"/>
  
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="warnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/warn.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="publicAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/public.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/public.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="traceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/trace.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">只打印错误日志
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/debug.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">只打印错误日志
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <logger name="com.study" level="warn" addivity="false">
        <appender-ref ref="warnAppender"/>
    </logger>

    <logger name="com.study" level="error" addivity="false">
        <appender-ref ref="errorAppender"/>
    </logger>

    <logger name="com.study" level="trace" addivity="false">
        <appender-ref ref="traceAppender"/>
    </logger>

    <logger name="com.study" level="debug"  addivity="false">
        <appender-ref ref="debugAppender" />
    </logger>

    <logger name="com.study" level="info"  addivity="false">
        <appender-ref ref="publicAppender" />
    </logger>

    <logger name="org" level="error" additivity="false">
        <appender-ref ref="errorAppender"/>
    </logger>
    
    <logger name="org.hibernate.SQL" level="trace" additivity="false">
        <appender-ref ref="traceAppender"/>
    </logger>
    
	<logger name="org" level="error" additivity="false">
        <appender-ref ref="errorAppender"/>
    </logger>
    
<!--司机问卷日志-->

    <appender name="sqErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sq_log.dir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sq_log.dir}/error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="sqWarnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sq_log.dir}/warn.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sq_log.dir}/warn.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="sqPublicAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sq_log.dir}/public.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sq_log.dir}/public.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="sqTraceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sq_log.dir}/trace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sq_log.dir}/trace.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">只打印错误日志
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="sqDebugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${sq_log.dir}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${sq_log.dir}/debug.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>12</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%-4level][%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%logger{35}:%line] %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">只打印错误日志
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <logger name="com.study" level="warn" addivity="false">
        <appender-ref ref="sqWarnAppender"/>
    </logger>

    <logger name="com.study" level="error" addivity="false">
        <appender-ref ref="sqErrorAppender"/>
    </logger>

    <logger name="com.study" level="trace" addivity="false">
        <appender-ref ref="sqTraceAppender"/>
    </logger>

    <logger name="com.study" level="debug"  addivity="false">
        <appender-ref ref="sqDebugAppender" />
    </logger>

    <logger name="com.study" level="info"  addivity="false">
        <appender-ref ref="sqPublicAppender" />
    </logger>



    <logger name="com" level="warn" addivity="false">
        <appender-ref ref="sqWarnAppender"/>
    </logger>

    <logger name="com" level="error" addivity="false">
        <appender-ref ref="sqErrorAppender"/>
    </logger>

    <logger name="com" level="trace" addivity="false">
        <appender-ref ref="sqTraceAppender"/>
    </logger>

    <logger name="com" level="debug"  addivity="false">
        <appender-ref ref="sqDebugAppender" />
    </logger>

    <logger name="com" level="info"  addivity="false">
        <appender-ref ref="sqPublicAppender" />
    </logger>
</configuration>
